
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.btn-primary{
    color: white;
    font-weight: 600;
    padding: 13px 18px;
    background: linear-gradient(
        90deg, #F7E93F,  #FB09B4, #9100F8
    );
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-primary:hover{
    padding: 15px 20px;
    box-shadow: 0px 5px 10px rgba(145, 0, 248, 0.6)
}






/* main styles */
body{
    background-color: #1A0B2E;
    color: white;
}

/* header related styles */

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 24px auto;
    align-items: center;
}



.mobile-menu{
    display: flex;
    gap: 32px;
}

.mobile-menu li{
    list-style: none;
}

.mobile-menu a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.menu-items{
    position: relative;
    display: none;
}

.hamburger {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

#menu{
    display: none;
}

/* banner section styles */

.banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.banner-img-container{
    position: relative;
}

.banner-img-container .img1{
    max-width: 300px;
}

.pulse{
    animation: pulse 0.9s ease-in-out  infinite  ;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
        filter: drop-shadow(0 0 5px rgba(145, 0, 248, 0.6));
    }
    100% {
        transform: scale(1);
    }
}


.banner-img-container .img2{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-button {
    position: absolute;
    top: 5%;
    right: 25%;

    background-color: rgba(0, 255, 136, 1);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.banner-content h1{
    font-size: 3.5rem;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 1rem;
    margin-bottom: 24px;
}

.content-btn{
    color: #00FF88;
    font-weight: 600;
    padding: 13px 18px;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 20px;
    cursor: pointer;
}

.content-btn:hover{
    color: black;
    background-color: #00FF88;
}

/* responsive design */


/* for smaller device */

@media screen and (max-width:576px) {

    nav .btn-primary{
        display: none;
    }


    .hamburger{
        display: block;
    }
    .mobile-menu {
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: #2a1248;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 12px;

        display: none;
    }

    #menu:checked ~ .mobile-menu{
        display: flex;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    /* nav */
     .hamburger{
        display: block;
    }
    .mobile-menu {
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: #2a1248;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 12px;

        display: none;
    }

    #menu:checked ~ .mobile-menu{
        display: flex;
    }
}


