
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.btn-primary{
    color: white;
    font-weight: 600;
    padding: 12px 16px;
    background: linear-gradient(
        90deg, #F7E93F,  #FB09B4, #9100F8
    );
    border: none;
    border-radius: 20px;
    cursor: pointer;
}






/* main styles */
body{
    background-color: #1A0B2E;
    color: white;
}

/* header related styles */

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 24px auto;
    align-items: center;
}



.mobile-menu{
    display: flex;
    gap: 32px;
}

.mobile-menu li{
    list-style: none;
}

.mobile-menu a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.menu-items{
    position: relative;
    display: none;
}

.hamburger {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

#menu{
    display: none;
}

/* banner section styles */

.banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}


/* responsive design */


/* for smaller device */

@media screen and (max-width:576px) {

    nav .btn-primary{
        display: none;
    }


    .hamburger{
        display: block;
    }
    .mobile-menu {
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: #2a1248;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 12px;

        display: none;
    }

    #menu:checked ~ .mobile-menu{
        display: flex;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    /* nav */
     .hamburger{
        display: block;
    }
    .mobile-menu {
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: #2a1248;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 12px;

        display: none;
    }

    #menu:checked ~ .mobile-menu{
        display: flex;
    }
}


