@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.btn-primary {
    color: white;
    font-weight: 600;
    padding: 13px 18px;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-primary:hover {
    padding: 15px 20px;
    box-shadow: 0px 5px 10px rgba(145, 0, 248, 0.6)
}


.section-title {
    font-size: 3.2rem;
    font-weight: 800;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
}

p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.658);
}

/* main styles */
body {
    background-color: #1A0B2E;
    color: white;
}

/* header related styles */

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 24px auto;
    align-items: center;
}



.mobile-menu {
    display: flex;
    gap: 32px;
}

.mobile-menu li {
    list-style: none;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.menu-items {
    position: relative;
    display: none;
}

.hamburger {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

/* banner section styles */

.banner {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.banner-img-container {
    position: relative;
}

.banner-img-container .img1 {
    max-width: 300px;
}

.pulse {
    animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
        filter: drop-shadow(0 0 5px rgba(145, 0, 248, 0.6));
    }

    100% {
        transform: scale(1);
    }
}


.banner-img-container .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-button {
    position: absolute;
    top: 5%;
    right: 25%;

    background-color: rgba(0, 255, 136, 1);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.banner-content h1 {

    margin-bottom: 8px;
}

.banner-content p {

    margin-bottom: 24px;
}

.content-btn {
    color: #00FF88;
    font-weight: 600;
    padding: 13px 18px;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 20px;
    cursor: pointer;
}

.content-btn:hover {
    color: black;
    background-color: #00FF88;
}

/* about section styles */
.about {
    text-align: center;
}

.about-content h1 {
    margin-bottom: 16px;
}

.about-content hr {
    border: 0.5px solid rgba(245, 222, 179, 0.164);
    margin-block: 80px;
}

.rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.rating-card h2 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
    margin-top: 0;
}

/* techwave section styles */

.techwave {
    padding: 100px;
    background-color: #230E3D;
}

.techwave h1 {
    text-align: center;
    margin-bottom: 40px;
}

.option-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 40px;
}



.option {
    padding: 40px;
    background-color: #3511655d;
    border-radius: 40px;
}

.option h3 {
    font-size: 1.5rem;
}

.card-1 {
    grid-row: span 2;
}

.card-2 {
    grid-column: span 2;
}

.option:hover {
    background-color: #00ff884f;
}

/* feature section styles */

.feature {
    padding-block: 50px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.feature-card-container {
    display: flex;
    gap: 30px;
}

.feature-card {
    border-radius: 40px 20px;
    overflow: hidden;
    background-color: #250D44;

    transition: transform 0.4s ease-out;
}

.card-content {
    padding: 24px;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.card-content> :last-child {
    font-weight: 500;
    color: #00FF88;
}



.feature-card:hover{
    transform: translatey(-12px) scale(1.05);
}

/* host section styles */

.host h1{
    text-align: center;
    margin-bottom: 40px;
}

.host-content{
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.icons img{
    margin-right: 8px;
    height: 20px;
    padding: 12px;
    border: 1px solid #533C72;
    border-radius: 50%;
}












/* responsive design */


/* for smaller device */

@media screen and (max-width:576px) {

    .section-title {
        font-size: 2rem;
    }

    nav .btn-primary {
        display: none;
    }


    .hamburger {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: #2a1248;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 12px;

        display: none;
    }

    #menu:checked~.mobile-menu {
        display: flex;
    }

    /* about */

    .about-content hr {

        margin-block: 40px;
    }

    .rating {
        grid-template-columns: repeat(2, 1fr);
    }

    /* techwave */
    .techwave {
        padding: 20px 0;
    }

    .option-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-1 {
        grid-row: auto;
    }

    .card-2 {
        grid-column: auto;
    }

    /* feature */

    .feature{
        padding: 0 20px;
    }

    .feature-card-container {
        flex-direction: column;
    }

    /* host */
    .host-content{
        flex-direction: column;
        text-align: center;
    }
}






@media screen and (min-width: 577px) and (max-width:992px) {

    /* nav */
    .hamburger {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: #2a1248;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px;
        border-radius: 12px;

        display: none;
    }

    #menu:checked~.mobile-menu {
        display: flex;
    }


    /* about */

    .about-content hr {

        margin-block: 40px;
    }

    .rating {
        grid-template-columns: repeat(2, 1fr);
    }

    /* techwave */

    .techwave {
        padding: 50px;
    }

    .option-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-1 {
        grid-row: auto;
    }

    .card-2 {
        grid-column: auto;
    }
}